#head
  %h1
    Pripravljeni, pozor, namestitev v hipu
  %p
    Rails ni odvisen od veliko paketov, saj skoraj vse komponente dejansko tvorijo osnovni paket. 
    Za pričetek moraš namestiti le Ruby, programski jezik, in RubyGems, upravitelj ruby paketov.
.copy
  %h2
    Ruby
  %p
    Za uporabo z Rails je priporočen
    %strong.marker
      Ruby 1.9.3
    \. Ruby 1.9.2 ali 1.8.7 bosta delovala, vendar bo z njima več težav kot koristi, pa še počasnejša sta pri zagonu Rails aplikacij.
  %dl.software
    %dt
      %a{ :href => "http://rubyforge.org/frs/download.php/75894/railsinstaller-2.1.0.exe" }
        Windows komplet za Rails
    %dd
      Preprosta namestitev Ruby 1.9.3 z dodatki za razvoj Rails aplikacij (RailsInstaller). Priporočen paket za Windows uporabnike, ki vključuje tudi Git, SQLite, idr.
    %dt
      %a{ :href => "http://ftp.ruby-lang.org/pub/ruby/1.9/ruby-1.9.3-p327.tar.gz" }
        Ruby 1.9.3 Izvorna koda
    %dd
      Primerna za kompilacijo na poljubnem sistemu.
    %dt
      %a{ :href => "https://github.com/downloads/railsinstaller/railsinstaller-nix/RailsInstaller-1.0.3-osx-10.7.app.tgz" }
        Mac OS X (10.7 in 10.8)
    %dd
      Preprosta namestitev Ruby 1.9.3 z dodatki za razvoj Rails aplikacij (RailsInstaller).
        
.copy
  %h2
    RubyGems
  %p
    %a{ :href => "http://docs.rubygems.org/", :title => "RubyGems dokumentacija" }
      RubyGems
    je
    %strong.marker
      standardni upravitelj Ruby paketov
    \. Podoben je sorodnim upraviteljem, kot so apt-get, rpm in brew.
  %p
    V kolikor si Ruby naložil kot 
    %strong.marker samostojni paket, 
    bo potrebno 
    %strong.marker ročno namestiti 
    RubyGems.
  %p
    Prenesi
    %a{ :href => "http://rubyforge.org/frs/download.php/76072/rubygems-1.8.24.zip", :title => "RubyGems 1.8.24" }
      ZIP
    ali
    %a{ :href => "http://rubyforge.org/frs/download.php/76073/rubygems-1.8.24.tgz", :title => "RubyGems 1.8.24" }
      TGZ
    arhiv, katerega razširiš. Nato iz ukazne vrstice z
    %code
      ruby setup.rb
    poženeš namestitev.
.copy
  %h2
    Rails
  %p
    Če 
    %strong.marker niste uporabili RailsInstaller paketa, 
    bo zdaj potrebno še ročno namestiti Rails ogrodje. Na srečo je to ko enkrat imamo RubyGems zelo preprosto. 
  %p
    V ukazno vrstico natipkaš:
  %p
    %code
      gem install rails
  %p
    Nove verzije Rails lahko namestiš na enak način, ali pa nadgradiš z ukazom:
  %p
    %code
      gem update rails
.copy
  %h2
    Kako narediti aplikacijo?
  %p
    Ustvari ogrodje aplikacije in poženi strežnik s sledečimi ukazi:
  %p
    %code
      rails new ime_aplikacije
    %br
    %code
      cd ime_aplikacije
    %br
    %code
      rails server
  %p
    Čestitke, na tvojem računalniku teče Ruby on Rails.
    %br
    Sledi navodilom na
    %a{ :href => "http://localhost:3000", :title => "Tvoja sveža Rails aplikacija" }
      http://localhost:3000
    \.