!!! Strict
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      Ruby on Rails Slovenija
    %link{ :href => "http://rubyonrailssi.s3.amazonaws.com/favicon.ico", :rel => "shortcut icon" }
    %link{ :href => "http://rubyonrailssi.s3.amazonaws.com/style/screen.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
  %body
    #nav
      %h1
        Ruby on Rails Slovenija
      %ul
        %li.meta
          %a{ :href => "/" }
        %li
          - unless @current
            %strong
              Povzetek
          - else
            %a{ :href => "/" }
              Povzetek
        %li
          - if @current == :screencasti
            %strong
              Screencasti
          - else
            %a{ :href => "/screencasti/" }
              Screencasti
        %li
          - if @current == :download
            %strong
              Download
          - else
            %a{ :href => "/download/" }
              Download
        %li
          %a{ :href => "http://rubyonrails.org/docs" }
            Dokumenti
        %li
          %a{ :href => "http://rails.si" }
            Skupnost

    = yield
    
    #foot
      %h2
        O projektu
      %p.whatis
        Ruby on Rails Slovenija je projekt za popularizacijo razvoja aplikacij na Ruby on Rails v Sloveniji.
      %p
        Prostovoljno ga vodiva
        %a{ :href => "http://facebook.com/Some1Else", :title => "Srđan Prodanović, Some1Else" }
          Srđan Prodanović
        in
        %a{ :href => "http://miha.rebernik.info/", :title => "Miha Rebernik, majx" }
          Miha Rebernik
        \.
      %p
        Rails je razvil
        %a{ :href => "http://www.loudthinking.com/about.html" }
          David Heinemeier Hansson
        , nadgrajujejo pa ga člani
        %a{ :href => "http://groups.google.com/group/rubyonrails-core" }
          Rails core
        skupine.

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3142059-2']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  