#head
  %h1
    Ne zaupaj, dokler ne vidiš na lastne oči!
  %p
    Sprosti se in uživaj v predstavah, vendar bodi zelo previden: Vračanje k stari platformi po ogledu sledečih vizualij in predstavitev, lahko povzroči psihično neravnovesje, depresijo in fizično bolečino.
.copy
  %h2
    Posnetki
  %p
    Sledeči video posnetki so razlagani v angleščini, za ogled pa je potreben predvajalnik
    %a{ :href => "http://www.apple.com/quicktime/download/standalone.html", :title => "Apple QuickTime Standalone Player" }
      QuickTime
    , ali
    %a{ :href => "http://www.free-codecs.com/download/QuickTime_Alternative.htm", :title => "QuickTime Alternative" }
      alternativni kodek
    \. Priporočena je seveda tudi širokopasovna povezava.
.copy.sub.visual
  %h3
    Naučite se Rails na "zombi" način
  .thumb
    %a{ :href => "http://RailsForZombies.org", :title => 'Naučite se Rails na "zombi" način' }
      %img{ :src => "http://weblog.rubyonrails.org/assets/2010/11/18/Rails_for_Zombies-2.jpg", :alt => 'Naučite se Rails na "zombi" način' }
  %p
    Če ste novinec in bi radi čimprej videli kako zadeva izgleda v praksi se odpravite na 
    %a{href: 'http://RailsForZombies.org'} RailsForZombies.org.
    Rails for Zombies je brezplačen tečaj na spletu, ki vsebuje pet delavnic. 
    Vsaka je sestavljena iz kratkega videa in vrste nalog pri katerih 
    %strong.marker preizkusite programiranje v Railsu kar v vašem brskalniku.
.copy.sub.visual
  %h3
    Rails 3 vizualije
  .thumb
    %a{ :href => "http://rubyonrails.org/screencasts/rails3/", :title => "Rails 3 vizualije" }
      %img{ :src => "http://weblog.rubyonrails.org/assets/2010/6/8/Rails3Screencasts.jpg", :alt => "Rails 3 vizualije" }
  %p
    Če iščete način, da bi si 
    %strong.marker čimprej umazali roke z najnovejšo različico Railsov, 
    so 
    %a{href: 'http://rubyonrails.org/screencasts/rails3/'} Rails 3 vizualije 
    za vas. 
    Izvedeli boste kaj so 
    %strong.marker nove funkcionalnosti in kako izgleda izboljšana sintaksa. 
    Rails aktivist Gregg Pollack vas bo vodil skozi celoten proces in vas na koncu pustil osveščenega, da boste 
    %strong.marker takoj lahko pričeli z izgradnjo Rails 3 spletne aplikacije.
.copy.sub.visual
  %h3
    Še več kvalitetnih vizualij na Railscasts.com
  .thumb
    %a{ :href => "http://railscasts.com", :title => "Rails vodiči in vizualije - Railscasts.com" }
      %img{ :src => "http://rubyonrails.org/images/pages/screencasts/railscasts.png", :alt => "Rails vodiči in vizualije - Railscasts.com" }
  %p
    Če so zgornje vizualije vzbudile dovolj zanimanja in željo po še več podrobnostih se lahko odpravite na 
    %a{href: 'http://railscasts.com'} Railscasts.com.
    Izkušeni Ryan Bates je pripravil 
    %strong.marker pravo zakladnico kratkih a sladkih videov, kjer prikazuje kako uporabljati različne funkcionalnosti Rails ogrodja in katere knjižice je najbolje uporabiti 
    za določen problem.
.copy
  %h2
    Predstavitve
  %p
    Sledeče predstavitve so napisane ali predavane v angleščini. Za ogled
    %abbr{ :title => "Portable Data Format" }
      PDF
    dokumentov je potreben
    %a{ :href => "http://www.adobe.com/products/acrobat/readstep2.html", :title => "Adobe PDF Reader" }
      Adobe Reader
    \.
.copy.sub
  %ul.pres
    %li
      %a{ :href => "http://media.rubyonrails.org/presentations/railsconfeu08.pdf", :title => "RailsConf EU '08: Legacy software" }
        %img{ :src => "http://rubyonrails.org/images/pages/screencasts/railsconfeu08.png", :alt => "RailsConf EU '08: Legacy software" }
        %br
        RailsConf EU '08: Legacy software
    %li
      %a{ :href => "http://media.rubyonrails.org/presentations/railsconf-08.pdf", :title => "RailsConf '08: The Great Surplus" }
        %img{ :src => "http://rubyonrails.org/images/pages/screencasts/railsconf08.png", :alt => "RailsConf '08: The Great Surplus" }
        %br
        RailsConf '08: The Great Surplus
    %li
      %a{ :href => "http://media.rubyonrails.org/presentations/railsconfeu07.pdf", :title => "RailsConf EU '07: James Dean" }
        %img{ :src => "http://rubyonrails.org/images/pages/screencasts/railsconfeu07.png", :alt => "RailsConf EU '07: James Dean" }
        %br
        RailsConf EU '07: James Dean
    %li
      %a{ :href => "http://media.rubyonrails.org/presentations/railsconf07.pdf", :title => "RailsConf '07: Rails 2.0" }
        %img{ :src => "http://rubyonrails.org/images/pages/screencasts/railsconf07.png", :alt => "RailsConf '07: Rails 2.0" }
        %br
        RailsConf '07: Rails 2.0
    %li
      %a{ :href => "http://media.rubyonrails.org/presentations/worldofresources.pdf", :title => "RailsConf '06: World of Resources" }
        %img{ :src => "http://rubyonrails.org/images/pages/screencasts/worldofresources.gif", :alt => "RailsConf '06: World of Resources" }
        %br
        RailsConf '06: World of Resources
    %li
      %a{ :href => "http://media.rubyonrails.org/presentations/programminghappiness.pdf", :title => "Amazon '06: Programming Happiness" }
        %img{ :src => "http://rubyonrails.org/images/pages/screencasts/programminghappiness.gif", :alt => "Amazon '06: Programming Happiness" }
        %br
        Amazon '06: Programming Happiness
    %li
      %a{ :href => "http://media.rubyonrails.org/presentations/pursuitofbeauty.pdf", :title => "Snakes &amp; Rubies: Pursuit of beauty" }
        %img{ :src => "http://rubyonrailssi.s3.amazonaws.com/media/visuals/snakesandrubies.gif", :alt => "Snakes &amp; Rubies: Pursuit of beauty" }
        %br
        S&amp;R: Pursuit of beauty
    %li
      %a{ :href => "http://media.rubyonrails.org/presentations/state_of_rails_05.pdf", :title => "RubyConf '05: State of the Rails" }
        %img{ :src => "http://rubyonrailssi.s3.amazonaws.com/media/visuals/rubyconf2005.png", :alt => "RubyConf '05: State of the Rails" }
        %br
        RubyConf '05: State of the Rails
    %li
      %a{ :href => "http://media.rubyonrails.org/presentations/secretsofrubyonrails.pdf", :title => "EuroOSCON '05: Secrets of Ruby on Rails" }
        %img{ :src => "http://rubyonrailssi.s3.amazonaws.com/media/visuals/oscon2005keynote.png", :alt => "EuroOSCON '05: Secrets of Ruby on Rails" }
        %br
        EuroOSCON '05: Secrets of RoR
    %li
      %a{ :href => "http://media.rubyonrails.org/presentations/extractingrails.pdf", :title => "OSCON '05: Extracting Rails from Basecamp" }
        %img{ :src => "http://rubyonrailssi.s3.amazonaws.com/media/visuals/oscon2005extracting.png", :alt => "OSCON '05: Extracting Rails from Basecamp" }
        %br
        OSCON '05: Extracting Rails
    %li
      %a{ :href => "http://media.rubyonrails.org/presentations/fisl6.pdf", :title => "FISL 6.0: Ruby on Rails" }
        %img{ :src => "http://rubyonrailssi.s3.amazonaws.com/media/visuals/fisl60.jpg", :alt => "FISL 6.0: Ruby on Rails" }
        %br
        FISL 6.0: Ruby on Rails
    %li
      %a{ :href => "http://media.rubyonrails.org/video/rubyonrails.mov", :title => "Roskilde '04: Introducing Rails" }
        %img{ :src => "http://rubyonrailssi.s3.amazonaws.com/media/visuals/roskilde04.jpg", :alt => "Roskilde '04: Introducing Rails" }
        %br
        Roskilde '04: Introducing Rails