#head
  %h1
    Ne zaupaj, dokler ne vidiš na lastne oči!
  %p
    Sprosti se in uživaj v predstavah, vendar bodi zelo previden: Vračanje k stari platformi po ogledu sledečih vizualij in predstavitev, lahko povzroči psihično neravnovesje, depresijo in fizično bolečino.
.copy
  %h2
    Posnetki
  %p
    Sledeči video posnetki so razlagani v angleščini, za ogled pa je potreben predvajalnik
    %a{ :href => "http://www.apple.com/quicktime/download/standalone.html", :title => "Apple QuickTime Standalone Player" }
      QuickTime
    , ali
    %a{ :href => "http://www.free-codecs.com/download/QuickTime_Alternative.htm", :title => "QuickTime Alternative" }
      alternativni kodek
    \. Priporočena je seveda tudi širokopasovna povezava.
.copy.sub.visual
  %h3
    Stvaritev spletnega dnevnika v 15 minutah
  .thumb
    %a{ :href => "http://media.rubyonrails.org/video/rails_take2_with_sound.mov", :title => "Oglej si \"Stvaritev spletnega dnevnika v 15 minutah\"" }
      %img{ :src => "../media/visuals/15minutes.gif", :alt => "Stvaritev spletnega dnevnika v 15 minutah" }
      %br
      %em
        Oglej si posnetek
  %p
    V petnajstih minutah
    %strong.marker
      od praznega žaklja, do kompletnega spletnega dnevnika
    , vključno s komentarji in administrativnim vmesnikom. Ampak, ker celotna aplikacija zahteva
    %strong.marker
      le 58 vrstic kode
    , je časa dovolj še za testiranje, pregled razvijalskega dnevnika, in igračkanje z domenskim modelom.
.copy.sub.visual
  %h3
    Vključevanje Flickra v Rails
  .thumb
    %a{ :href => "http://media.rubyonrails.org/video/flickr-rails-ajax.mov", :title => "Oglej si \"Vklju\304\215evanje Flickra v Rails\"" }
      %img{ :src => "../media/visuals/flickr.png", :alt => "Vklju\304\215evanje Flickra v Rails" }
      %br
      %em
        Oglej si posnetek
  %p
    Ruby on Rails ni namenjen le igranju z lokalno podatkovno bazo, narejen je za osvajanje medmrežja. V petih minutah se da ustvariti
    %strong.marker
      spletni iskalnik fotografij, ki izkorišča Flickrov javni API
    , vse skupaj pa v stilu Flasha prezentirati z
    %abbr{ :title => "Asinhroni JavaScript in XML" }
      AJAX
    om in privlačnimi animiranimi prehodi v prikazu.
.copy.sub.visual
  %h3
    Enostavno nadgrajevanje podatkovne sheme
  .thumb
    %a{ :href => "http://media.rubyonrails.org/video/migrations.mov", :title => "Oglej si \"Enostavno nadgrajevanje podatkovne sheme\"" }
      %img{ :src => "../media/visuals/migrations.gif", :alt => "Enostavno nadgrajevanje podatkovne sheme" }
      %br
      %em
        Oglej si posnetek
  %p
    V aplikacijah se dokaj hitro naberejo pomembni podatki. Na drugih platformah zato pomeni spreminjanje sheme rizično, dolgotrajno in duhamorno opravilo. V 20 minutah je razloženo kako
    %strong.marker
      migracije podatkovnih baz ohranjajo podatkovno shemo fleksibilno kot kodo aplikacije
    , brez skrbi o izgubi podatkov.
.copy
  %h2
    Predstavitve
  %p
    Sledeče predstavitve so napisane ali predavane v angleščini. Za ogled
    %abbr{ :title => "Portable Data Format" }
      PDF
    dokumentov je potreben
    %a{ :href => "http://www.adobe.com/products/acrobat/readstep2.html", :title => "Adobe PDF Reader" }
      Adobe Reader
    \.
.copy.sub
  %ul.pres
    %li
      %a{ :href => "http://media.rubyonrails.org/presentations/pursuitofbeauty.pdf", :title => "Snakes &amp; Rubies: Pursuit of beauty" }
        %img{ :src => "../media/visuals/snakesandrubies.gif", :alt => "Snakes &amp; Rubies: Pursuit of beauty" }
        %br
        S&amp;R: Pursuit of beauty
    %li
      %a{ :href => "http://media.rubyonrails.org/presentations/state_of_rails_05.pdf", :title => "RubyConf '05: State of the Rails" }
        %img{ :src => "../media/visuals/rubyconf2005.png", :alt => "RubyConf '05: State of the Rails" }
        %br
        RubyConf '05: State of the Rails
    %li
      %a{ :href => "http://media.rubyonrails.org/presentations/secretsofrubyonrails.pdf", :title => "EuroOSCON '05: Secrets of Ruby on Rails" }
        %img{ :src => "../media/visuals/oscon2005keynote.png", :alt => "EuroOSCON '05: Secrets of Ruby on Rails" }
        %br
        EuroOSCON '05: Secrets of RoR
    %li
      %a{ :href => "http://media.rubyonrails.org/presentations/extractingrails.pdf", :title => "OSCON '05: Extracting Rails from Basecamp" }
        %img{ :src => "../media/visuals/oscon2005extracting.png", :alt => "OSCON '05: Extracting Rails from Basecamp" }
        %br
        OSCON '05: Extracting Rails
    %li
      %a{ :href => "http://media.rubyonrails.org/presentations/fisl6.pdf", :title => "FISL 6.0: Ruby on Rails" }
        %img{ :src => "../media/visuals/fisl60.jpg", :alt => "FISL 6.0: Ruby on Rails" }
        %br
        FISL 6.0: Ruby on Rails
    %li
      %a{ :href => "http://media.rubyonrails.org/video/rubyonrails.mov", :title => "Roskilde '04: Introducing Rails" }
        %img{ :src => "../media/visuals/roskilde04.jpg", :alt => "Roskilde '04: Introducing Rails" }
        %br
        Roskilde '04: Introducing Rails